.dashboard_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.update_delete_icons {
  margin: 0 10px;

  cursor: pointer;
}

.image_label {
  border-radius: 9px;
  color: grey;
  padding: 3px 8px;
  background-color: #f4f4f4;
  cursor: pointer;
}

.form_select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightslategray;
}
