body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  border: 0 !important;
}
.form-control:focus {
  box-shadow: none !important;
}
input::-webkit-input-placeholder {
  margin-right: 20px !important;
}

input[type="file"] {
  display: none;
}

.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none !important;
  color: grey !important;
  font-size: 12px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6 !important;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s !important;
}

.alert-fixed {
  position: fixed !important;
  top: 90px !important;
  right: 10px !important;
  width: 30% !important;
  z-index: 9999 !important;
  margin: 0 auto !important;
  border-radius: 0px;
}
